$dark-blue: #020131;
$med-blue: #0b0682;
$light-blue: #68a2ff;
$white: #edf4ff;
$glass: rgba(132, 154, 214, 0.35);
$pastel-green: #3FBF74;

@import './util/mixins';

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: $dark-blue;
}

a {
  color: $white;
}

span {
  display: block;
}

@import './modules/location-select';
@import './modules/title-time';
@import './modules/weather-summary';
@import './modules/temp-range';
@import './modules/week-display';

// Highest level app container
.forecast-app {
  background: $glass;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.info-divider{
  color: $white;
  background: $med-blue;
  padding: 0.5rem 0;
}