$dark-blue: #020131;
$med-blue: #0b0682;
$light-blue: #68a2ff;
$white: #edf4ff;
$glass: rgba(132, 154, 214, 0.35);

body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

form {
  height: 2rem;
  padding: 0.5rem 0;
  width: 50vw;
}

button {
  background: $med-blue;
  color: $white;
  transition: all 0.5s;
  border: 2px solid $white;
  border-radius: 0 10px 10px 0;
  padding: 5px 10px;
  &:hover {
    background: $white;
    color: $dark-blue;
  }
}

sup:hover {
  cursor: pointer;
  color: $white;
  transition: all 0.2s;
}

.flex-cent-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-cent-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  margin-top: 2vh;
  max-height: 90vh;
}

.title-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em auto;
  width: 80%;
  background: $glass;
  border: 4px solid $dark-blue;
  h1 {
    color: $white;
    text-shadow: 1px 1px $dark-blue;
  }
  span {
    width: 100%;
    color: $light-blue;
    background: $dark-blue;
    padding: 0.3rem;
  }
}

.weather-box-display {
  background: $glass;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  form {
    width: 100%;
    background: $med-blue;
  }
}

.weather-summary {
  font-weight: bold;
}

.weather-summary-title h1 {
  padding: 0 8rem;
  font-size: 3.5rem;
  color: $dark-blue;
}

.icon-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 13rem;
  font-size: 1.7rem;
  background: $dark-blue;
  border-radius: 25px;
  padding: 1rem;
}

.weather-lower {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  color: $white;
  & > span {
    padding: 0.3rem;
    width: 100%;
    background: $med-blue;
  }
}

.temp-gauge {
  width: 15rem;
  height: 0.5rem;
  background: linear-gradient(to right, darkblue, darkred);
  border-radius: 20px;
  box-shadow: 1px 1px $dark-blue;
  margin: 0 1rem;
}

.week-display {
  padding-bottom: 1rem;
  & > div {
    background: $dark-blue;
    padding: 0.2rem 1.5rem;
    margin: 0 1.5rem;
    border-radius: 10px;
    color: $light-blue;
    span {
      padding: 0.2rem 0;
    }
  }
}