{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react", "import"],
  "rules": {
    "max-len": [
      0,
      {
        "ignoreUrls": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      2,
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "comma-dangle": ["error", "only-multiline"],
    "quote-props": [1, "consistent"],
    "no-underscore-dangle": [0],
    "no-plusplus": [0],
    "no-mixed-operators": [0],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }]
  }
}
