body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; }

.flex-cent-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-cent-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.app-container {
  width: 100%;
  margin-top: 2vh; }

.title-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em auto;
  width: 80%;
  background: rgba(132, 154, 214, 0.3);
  border: 4px solid #020131; }
  .title-time h1 {
    color: #edf4ff; }
  .title-time span {
    width: 100%;
    color: #68a2ff;
    background: #020131;
    padding: 0.3rem; }

.weather-box-display {
  background: rgba(132, 154, 214, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px 0; }
  .weather-box-display form {
    width: 100%;
    background: #0b0682; }

.weather-summary {
  display: flex;
  align-items: center;
  justify-content: center; }

.weather-summary-title h1 {
  padding: 0 8rem;
  font-size: 3.5rem;
  color: #020131; }

.icon-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 13rem;
  font-size: 1.7rem;
  background: #020131;
  border-radius: 25px;
  padding: 1rem; }

.weather-lower {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  color: #edf4ff; }
  .weather-lower > span {
    padding: 0.3rem;
    width: 100%;
    background: #0b0682; }

.temp-gauge {
  width: 10rem;
  height: 0.5rem;
  background: linear-gradient(to right, darkblue, darkred);
  border-radius: 20px;
  box-shadow: 1px 1px #020131; }
