body {
  box-sizing: border-box;
  text-align: center;
  background: url(https://c.pxhere.com/photos/75/6c/sun_halo_rainbow_blue_sunny_day_beautiful_circle-720900.jpg!d) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

#app-body {
  margin: 10vh 0 10vh 0;
  width: 100%;
}

#title-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0B0682;
  margin: 0 auto 1em auto;
  height: 15vh;
  width: 95%;
}

#location-title-display {
  width: 100%;
  height: 100%;
  background-color: rgba(132, 154, 214, 0.47);
  font-size: vw;
}

#date-display {
  background-color: #353a42;
  color: #68a2ff;
  width: 20%;
  height: 100%;
  font-size: 2vw;
  border-radius: 25px 0 0 25px;
}

#time-display {
  background-color: #353a42;
  color: #68a2ff;
  width: 20%;
  height: 100%;
  font-size: 3vw;
  border-radius: 0 25px 25px 0;
}

#weather-box-display {
  background-color: rgba(132, 154, 214, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

#weather-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#weather-summary button {
  height: 50px;
  width: 20px;
}

#weather-lower {
  background-color: #0B0682;
  color: white;
  padding: 2px;
  width: 100%;
}

#weather-misc {
  width: 100%;
}

#weather-icon {
  background-color: #353a42;
  padding: 10px;
  width: 15%;
  border-radius: 25px;
}

#quick-sum {
  color: #353a42;
  width: 25%;
  padding: 0 40px 0 40px;
  font-size: 3.5em;
}

#temp {
  background-color: #353a42;
  color: #f26b18;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 15%;
  min-width: 15%;
  font-size: 2.5vw;
  border-radius: 25px;
}

#search-location {
  background-color: #0B0682;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
}

#search-location input {
  margin: 0 20px 0 20px;
  min-width: 30vw;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}