.temp-range {
  @include flex-cent-c;
  color: $white;
}

// .temp-range__wrapper {
//   @include flex-cent-c;
// }

.temp-range__low {
  color: $light-blue;
}

.temp-range__high {
  color: darkred;
}

.temp-range__gauge {
  width: 0.5rem;
  height: 8rem;
  background: linear-gradient(to top, $med-blue, darkred);
  border-radius: 20px;
  box-shadow: 1px 1px $dark-blue;
  margin: 0 1rem;
}