.temp-range {
  @include flex-cent-r;
}

.temp-range__wrapper {
  @include flex-cent-c;
}

.temp-range__low {
  color: darkblue;
}

.temp-range__high {
  color: darkred;
}

.temp-range__gauge {
  width: 15rem;
  height: 0.5rem;
  background: linear-gradient(to right, darkblue, darkred);
  border-radius: 20px;
  box-shadow: 1px 1px $dark-blue;
  margin: 0 1rem;
}